<div class="container" id="container_newP">
  <div class="card" id="new_publish">
    <h1>Editing publish</h1>
    <%= render "form", publish: @publish %>
    <div>
      <%= link_to "Mostrar publicación", @publish %> |
      <%= link_to "Regresar al inicio", publishes_path %>
    </div>
  </div>
</div>
